.body {
	height: 100%;
}

.navbar {
	background-color: #FFFFFF;
	height: 5%;
	text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar a{
	text-align: right;
	color: #62A1FF;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
}

.jumbotron {
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: #FFFFFF;
	height: 400px;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%, 100%;
	opacity: .85;
}

.jumbotron h1 {
	margin-top: 200px;
	margin-bottom: 200px;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 170px;
	font-weight: 700;
	color: #FFFFFF;
	opacity: 1;
}

#soldiers {
	background-image: url("../images/Soldiers.jpg");
}

#home {
	background-image: url("../images/Profile.jpg");
	height: 700px;
}
#umich {
	background-image: url("../images/AngellHall.jpg");
}


.text-container {
	height: 100%;
}

.bar {
	/*padding: 1px;*/
	background-color: #62A1FF;
	text-align: center;
}

.bar h3 {
	font-family: 'Dosis', sans-serif; 
	font-weight: 900;
	font-size: 64px;
	color: #FFFFFF;
}

ul {
	text-align: left;
}

li {
	margin:10px;
}


.btn {
	background-color: none;
	border-color: #6709B0;
	border-width: 5px;
	color: white;
	width: 170px;
	height: 50px;
	margin-right: 12px;
	margin-left: 12px;
	padding: 10px;
}

.btn:hover {
	background-color: #960DFF;
	border-color: #6709B0;
	color: white;
} 

.btn:active, .btn.active {
	background-color: #AF58FF;
	color: white;
}


.card {
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Nunito', "Calibri", sans-serif;
	text-align: center;
	font-size: 20px;
	color: #808080;
	margin-top: 30px;
}

h4{
	color: #6709B0;
	font-size: 200%;
	font-weight: 400;
}

.img-circle {
	border-radius: 50%;
	height: 200px;
	margin: 30px;
	text-align: center;
}
