{% extends "layout.html" %}

{% block content %}

  

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<center><h3>Cumulus Consulting</h3><center>
					<img src="static/images/cumulus.jpg" alt="Cumulus Consulting image" class="img-responsive">
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<center><h3>Quicken Loans</h3><center>
					<img src="static/images/QuickenLoans.jpg" alt="Quicken Loans image" class="img-responsive">
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<center><h3>Sugar Urethane</h3><center>
					<img src="static/images/SugarUrethane.jpg" alt="Sugar Urethane image" class="img-responsive">
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</div>
			</div>
		</div>
	</div>


{% endblock %}