<!DOCTYPE html>
<html>
  <head>
    <title>Jordan Bryan</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma" />
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- <link rel="stylesheet" href="/static/mdl/material.min.css"> 
    <script src="/static/mdl/material.min.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  </head>

  <body> 
    <header>

      <div class="navbarstyle navbar navbar-fixed-top">

        <div class="container">

          <div class="brandstyle navbar-brand">Jordan Bryan</div>

          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse navHeaderCollapse">

            <ul class="nav navbar-nav navbar-right">
              <li><a class="link" href="{{ url_for('index') }}">Home</a></li>
              <li><a class="link" href="{{ url_for('about') }}">Work Experience</a></li>
              <li><a class="link" href="{{ url_for('skateboarder') }}">Downhill Skateboarding</a></li>
            </ul>

          </div>

        </div>

      </div>

    </header> 
     

    <div class="container contentblock">
      <div class="title">
        <center><h1 class="largetitle">{{ title }}</h1></center>
      </div>
      {% block content %}
      {% endblock %}
    </div>

    <div class="floatingbuttons navbar-fixed-bottom">
      <a href="#"class="navbar-btn btn-danger btn">View Resume</a>
      <a href="https://www.linkedin.com/profile/view?id=AAMAABZbOsQBhDcg-a5zTR6sO1Q44g8At2MIv3U"class="navbar-btn btn-info btn">Connect On LinkedIn</a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

     
  </body>
</html>