{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Downhill Skateboarding</h2>
    <p class="description">In my free time, I enjoy downhill skateboarding. I have travelled around the country for downhill skateboarding races, and I intend to further pursue my passion of downhill skateboarding.</p>


    <div class = "container">
    	<div class = "row"> 
    		<div class = "col-xs-3">
    			<img src="static/images/CAN.jpg" alt="CAN image" class="img-responsive">
			    <img src="static/images/GRDH.jpg" alt="GRDH image" class="img-responsive">
			    <img src="static/images/Maryhill.jpg" alt="Maryhill image" class="img-responsive">
    		</div>
    		<div class = "col-xs-6">
    			<h3>Accomplishments</h3>
    			<ul class="accomplishments">
			    	<li>3rd place at the <b>2015 IDF Munnsville Gravity Fest</b></li>
			    	<li>4th place at the <b>2015 Rage at the Ridge</b></li>
			    	<li>1st place at the <b>2014 Grand Rapids Urban Downhill</b></li>
			    	<li>1st place at the <b>2012 Rochester Hills Invitational</b></li>
	    		</ul>
    		</div>
    	</div>
   	</div>


	<!--     <section class = "accomplishments">
    	
   		
    </section>
    
    <section class = "skate_photos">
	    <img src="static/images/CAN.jpg" alt="CAN image">
	    <img src="static/images/GRDH.jpg" alt="GRDH image">
	    <img src="static/images/Maryhill.jpg" alt="Maryhill image">
	</section> -->
  </div>
{% endblock %}