ul {
  text-align: left; }

body {
  text-align: center;
  overflow-x: hidden; }

.navbar {
  background-color: white;
  text-align: center;
  padding: 0;
  border: none;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .navbar ul.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
    .navbar ul.navbar-nav li > a.link {
      text-align: right;
      color: #62A1FF;
      font-family: "Dosis", sans-serif;
      font-size: 24px;
      height: 100%; }
      .navbar ul.navbar-nav li > a.link:visited {
        color: #62A1FF; }
      .navbar ul.navbar-nav li > a.link:hover {
        background-color: #e6e6e6; }

.jumbotron {
  margin-top: 10px;
  margin: 0px;
  color: white;
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: .85;
  height: 200px; }
  @media screen and (min-width: 768px) {
    .jumbotron {
      height: 300px; } }
  @media screen and (min-width: 992px) {
    .jumbotron {
      height: 400px; } }
  .jumbotron h1 {
    text-align: center;
    font-family: "Dosis", sans-serif;
    text-shadow: 0 0 30px black;
    font-weight: 700;
    color: white;
    opacity: 1;
    font-size: 12vw;
    margin-top: 12vw;
    margin-bottom: 12vw;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 70px;
    margin-bottom: 70px; }
    @media screen and (min-width: 768px) {
      .jumbotron h1 {
        margin-top: 100px;
        margin-bottom: 100px; } }
    @media screen and (min-width: 992px) {
      .jumbotron h1 {
        margin-top: 150px;
        margin-bottom: 150px; } }
    @media screen and (min-width: 1200px) {
      .jumbotron h1 {
        margin-top: 180px;
        margin-bottom: 180px; } }

#soldiers {
  background-image: url("../images/Soldiers.jpg"); }

#umich {
  background-image: url("../images/AngellHall.jpg"); }

#home {
  background-image: url("../images/Profile.jpg");
  height: 400px; }
  @media screen and (min-width: 768px) {
    #home {
      height: 500px; } }
  @media screen and (min-width: 992px) {
    #home {
      height: 600px; } }
  @media screen and (min-width: 1200px) {
    #home {
      height: 700px; } }

.bar {
  background-color: #62A1FF;
  text-align: center;
  margin-right: -15px;
  margin-left: -15px; }
  .bar h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 48px; }
    @media screen and (min-width: 992px) {
      .bar h2 {
        font-size: 56px; } }
    @media screen and (min-width: 1200px) {
      .bar h2 {
        font-size: 64px; } }

.btn {
  background-color: #830be1;
  border-color: #4b077f;
  border-width: 5px;
  color: white;
  width: 170px;
  height: 50px;
  margin: 10px;
  padding: 10px; }
  .btn:hover {
    background-color: #6709B0;
    color: white; }
  .btn:visited {
    color: white; }
  .btn:active, .btn .active {
    background-color: #b35bf7;
    color: white; }

.card {
  font-family: "Nunito", "Calibri", sans-serif;
  font-size: 17px;
  color: #808080;
  margin: 30px;
  text-align: center; }
  .card h3 {
    color: #6709B0;
    font-weight: 400;
    font-size: 30px; }
    @media screen and (min-width: 992px) {
      .card h3 {
        font-size: 36px; } }
    @media screen and (min-width: 1200px) {
      .card h3 {
        font-size: 36px; } }
  .card li {
    margin: 10px; }

.photo-row img {
  margin-bottom: 10px; }

.accomplishments {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0; }
  @media screen and (min-width: 768px) {
    .accomplishments {
      margin-left: 0; } }
  @media screen and (min-width: 992px) {
    .accomplishments {
      margin-left: 200px; } }
  @media screen and (min-width: 1200px) {
    .accomplishments {
      margin-left: 400px; } }

.img-circle {
  border-radius: 50%;
  height: 200px;
  margin: 30px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
